* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.containerIndex {
  width: 100%;
  background-image: url(../imagenes/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d8af54;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6em; }

.imagenAcademia {
  width: 100%;
  height: 500px;
  background-image: url(../imagenes/luz.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

@media (min-width: 320px) {
  .imagenAcademia {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%; } }

@media (min-width: 540px) {
  .imagenAcademia {
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    width: 100%; } }

@media (min-width: 760px) {
  .imagenAcademia {
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%; } }

@media (min-width: 1024px) {
  .imagenAcademia {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%; } }

.aside {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: white; }
  .aside .aside__titulo {
    color: #d8af54;
    font-size: 1em;
    text-align: center;
    font-weight: bold; }
  .aside .aside__texto {
    padding-top: 15px; }

.aside__imagen:hover {
  cursor: pointer;
  opacity: 70%; }

.containerIndex > .header,
.containerIndex > .contenido,
.containerIndex > .aside,
.containerIndex > .footer,
.containerIndex > .footer__blanco {
  background-color: #fff;
  opacity: 95%; }

.header,
.footer,
.footer__blanco {
  grid-column: 1/5; }

.contenidoIndex {
  grid-column: span 3;
  padding: 20px; }
  .contenidoIndex .contenidoIndex__articulo {
    padding: 20px;
    margin-top: 5px;
    background: #ECEDEE;
    color: gray;
    font-weight: bold; }

.tituloBienvenidos {
  color: #d8af54;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bolder; }

.parrafo {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px;
  text-align: justify; }

@media screen and (max-width: 1024px) {
  .contenidoIndex {
    grid-column: span 4; }
  .aside {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 768px) {
  .contenidoIndex {
    grid-column: 1/5; }
  .aside {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .aside__texto {
    font-size: 1em;
    padding: 10px; }
  .aside__imagen:hover {
    cursor: pointer;
    opacity: 70%; } }

@media only screen and (max-width: 600px) {
  .contenidoIndex {
    grid-column: 1/5; }
  .aside {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .aside__texto {
    font-size: 1em;
    padding: 10px; }
  .aside__imagen:hover {
    cursor: pointer;
    opacity: 70%; } }

.containerAbout {
  font-family: 'Montserrat', sans-serif; }

/*imagen de fondo attached*/
.fotografo {
  width: 100%;
  height: 300px;
  background-image: url(../imagenes/fotografo.jpg);
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

@media (max-width: 520px) {
  .fotografo {
    background-image: url(../imagenes/fotografo2.jpg);
    background-position: 20%;
    background-size: 900px 720px; } }

/*titulo de la seccion*/
.laAcademia {
  color: #d8af54;
  font-family: 'Montserrat', sans-serif;
  margin-left: 45px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold; }

.parrafoAcademia {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding: 50px;
  color: gray;
  font-weight: bold; }

.containerPortfolio {
  font-family: 'Montserrat', sans-serif; }

.portfolio {
  color: white;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #c1c6cc; }

.parrafoPortfolio {
  padding: 30px;
  color: gray;
  font-weight: bold;
  background-color: #EBECED;
  text-align: center;
  padding: 20px 20px;
  padding-left: 60%;
  border: solid #d8af54;
  border-right: 1px;
  border-left: 1px;
  background-image: url(../imagenes/CLAVEALTAgato.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

@media (max-width: 520px) {
  .contacto__datos {
    background-image: url(../imagenes/clavealta2.jpg);
    background-position: center;
    background-size: 900px 720px; }
  .parrafoPortfolio {
    padding-right: 20px;
    padding-left: 30%; } }

.contenedorImagenes {
  width: 100%;
  margin: auto; }

.galeria img {
  width: 100%; }

.galeria {
  margin: 5px; }
  .galeria :hover {
    cursor: pointer;
    transform: scale(1.1, 1);
    transition: all 0s ease;
    cursor: pointer; }

/*galeria de fotos*/
.fotos .contenedorImagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

@media (min-width: 300px) {
  .fotos .contenedorImagenes {
    grid-template-columns: repeat(1, 100%); } }

@media (min-width: 520px) {
  .fotos .contenedorImagenes {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 728px) {
  .fotos .contenedorImagenes {
    grid-template-columns: repeat(3, 33.3%); } }

@media (min-width: 1024px) {
  .fotos .contenedorImagenes {
    grid-template-columns: repeat(4, 25%); }
  .contenedorImagenes {
    width: 1024px; } }

@media (min-width: 1200px) {
  .contenedorImagenes {
    width: 1200px; } }

.containerWorkshops {
  margin: 0px auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-image: url(../imagenes/tripode.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  text-align: justify; }

/*Titulo de cada taller*/
.talleres {
  color: #d8af54;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  text-align: center; }

h4 {
  font-weight: bold; }

.tituloWorkshop {
  color: white;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #c1c6cc; }

/*div vacio*/
.bloque {
  width: 100%;
  height: 100px; }

.inscripcion {
  padding-top: 30px;
  color: #d8af54;
  text-align: center; }
  .inscripcion .inscripcion :hover {
    color: khaki; }

.article__talleres {
  background-color: #ede8e8;
  border: solid 0.5px gray; }
  .article__talleres p {
    padding: 30px;
    color: gray;
    font-weight: bold; }

.linea {
  border-top: 1px solid gray;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto; }

.divTalleres {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  color: #d8af54;
  text-align: center;
  font-weight: bold;
  padding: 10px; }
  .divTalleres button {
    border-color: #d8af54; }

.containerContacto {
  width: 100%;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-image: url(../imagenes/camaras.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d8af54; }

.containerContacto > .footer, .containerContacto > .footer__blanco {
  opacity: 95%; }

.contacto__titulo {
  color: white;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #c1c6cc; }

/*datos de contacto*/
.contacto__div {
  width: 100%;
  height: 50px; }

.contacto__datos {
  color: gray;
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  border: solid;
  border-right: 1px;
  border-left: 1px;
  background-image: url(../imagenes/clavealta.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover; }

@media (max-width: 520px) {
  .contacto__datos {
    background-image: url(../imagenes/clavealta2.jpg);
    background-position: center;
    background-size: 900px 720px; } }

.bigicon {
  font-size: 35px;
  color: #d8af54; }

.container__404 {
  background-image: linear-gradient(125deg); }

header {
  height: 350px;
  width: 100%;
  background-color: white;
  opacity: 95%; }
  header .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px; }

ul {
  list-style-type: none;
  color: #d8af54;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px; }

li a {
  color: #d8af54;
  font-weight: bold;
  margin: 10px;
  text-decoration: none; }
  li a a:hover {
    color: khaki;
    transition: all 0.5s ease;
    text-decoration: none; }

.formulario {
  background-color: #ECEDEE;
  opacity: 97%;
  margin-bottom: 100px;
  padding: 50px; }
  .formulario button {
    border-color: #d8af54;
    color: #d8af54; }


.footer,
.footer__blanco {
  background-color: white;
  font-size: 15px;
  line-height: 24px;
  color: #d8af54;
  border: khaki solid 1px;
  padding-top: 10px; }

/*Footer fondo naranja*/
.footer__blanco {
  background-color: #d8af54;
  color: white; }

.ir-arriba {
  font-weight: bolder;
  color: black; }

.footer hr, .footer__blanco hr {
  border-top-color: #bbb;
  opacity: 70%; }

.footer hr.small, .footer__blanco hr.small {
  margin: 5px 0; }

.footer-links {
  padding-left: 0; }
  .footer-links list-style:none li {
    display: block; }
  .footer-links a {
    color: #d8af54; }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: khaki;
  transition: all 0.5s ease;
  text-decoration: none; }

.footer-links.inline li {
  display: inline; }

.footer .social-icons, .footer__blanco .social-icons {
  text-align: right; }

.footer .social-icons a, .footer__blanco .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #eceeef; }

.copyright-text {
  text-align: center;
  margin: 0;
  font-weight: bolder; }

#row {
  text-align: center; }

@media (max-width: 991px) {
  .footer [class^=col-], .footer__blanco [class^=col-] {
    margin-bottom: 30px; }
  .footer .copyright-text, .footer__blanco .copyright-text, .site-footer .social-icons {
    text-align: center; } }

@media (max-width: 767px) {
  
  .footer,
  .footer__blanco {
    padding-bottom: 0; }
  .footer .copyright-text, .footer__blanco .copyright-text, .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.instagram:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }
