*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$naranja-pixel: rgb(216, 175, 84);

@import "paginas/index";
@import "paginas/about";
@import "paginas/portfolio";
@import "paginas/workshops";
@import "paginas/contacto";

@import "layouts/header";
@import "layouts/nav";
@import "layouts/formulario";
@import "layouts/footer";


