.formulario{
    background-color: #ECEDEE;
    opacity: 97%;
    margin-bottom: 100px;
    padding: 50px;
    button {
        border-color: $naranja-pixel;
        color: $naranja-pixel;
        }
}