header{
    height: 350px;
    width: 100%;
    background-color:white; 
    opacity: 95%;

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}